/* General typography */

body {
  font-family: Arimo, sans-serif;
}

h4 {
  font-size: 1.1rem;
}

/* Site layout */

.modal-header {
  background-color: #02b;
  color: #f6f6ef;
}

.modal-header .close {
  color: #f6f6ef;
}

/* responsive queries for tightening things up for mobile. */

/* @media screen and (max-width: 576px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 900px;
    margin: 8px auto;
  }
} */
