/* General typography */

body {
  font-family: Arimo, sans-serif;
}

h4 {
  font-size: 1.1rem;
}

/* Site layout */

.modal-header {
  background-color: #02b;
  color: #f6f6ef;
}

.modal-header .close {
  color: #f6f6ef;
}